body {
    font-family: Arial, sans-serif;
    color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.facapp-container {
    background-color: #353E8D;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.facappointment-form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.facappointment-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.facappointment-form label {
    font-weight: 600;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.facappointment-form .facappform-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.facappointment-form .facappformdate-input {
    width: 92%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.facappointment-form .facappform-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.3);
}

.facappointment-form .facappsubmit-btn {
    width: 100%;
    padding: 12px;
    background-color: #353E8D;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.facappointment-form .facappsubmit-btn:hover {
    background-color: #0056b3;
}

.facappointment-form .facappsubmit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
