.sdaoconfirmation-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #353E8D;
}

.sdaocon-container {
    background-color: #353E8D;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sdaoconfirmation-container h1 {
    color: #007bff;
    margin-bottom: 15px;
    font-size: 2rem;
}

.sdaosuccess-message {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 20px;
}

.sdaoappointment-details {
    background-color: #e7f3ff;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
    color: #353E8D;
}

.sdaoappointment-details h2 {
    color: #007bff;
    margin-bottom: 10px;
}

.sdaoappointment-details p {
    font-size: 1rem;
    margin: 5px 0;
}

.sdaono-details {
    font-size: 1rem;
    color: #555;
    margin-top: 15px;
}

.dashboard-btn {
    margin-top: 30px;
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dashboard-btn:hover {
    background-color: #0056b3;
}
